@font-face {
  font-family: 'TTFirsNeue';
  src: url(./fonts/TTFirsNeue-Medium.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url(./fonts/TTFirsNeue-Regular.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url(./fonts/TTFirsNeue-DemiBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-Medium.ttf);
  font-weight: 600;
  font-style: medium;
}

html{
  object-fit:none;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

#sideBar {
  /* width:134px; */
  height: 834px;
  float: left;
  /* display:inline-block; */
  background-color: #ffffff;
  position: relative;
  /* vertical-align:top; */
}

#logo {
  margin: 0px;
  height: 87px;
  background-color: #FAFAFA;
  padding-left: 20px;
  padding-top: 22px;
}

#logoFont {
  font-size: 48px;
  font-weight: 700;
  margin-left: 0px;
  margin-top: 0px;
}

h1 {
  font-family: 'TTFirsNeue';
  color: #212121;
  font-size: 52px;
  font-weight: 900;

  text-align: left;
  vertical-align: top;
  margin: 0px;
  margin-top: 20px;
  margin-left: 18px;
  display: inline;
}

.index {
  width: 1184px;
  height: 834px;
  /* display:inline-block; */
  /* position: absolute; */
  position:fixed;
  left: 150px;
  top: 20px;
}

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
}

/* .contenuto{
  transform:scale(95%);
  transform-origin: 0;
  margin-top: 8px;
  transform:translateY(4px);
} */

.error {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

div.error {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

p.error {
  font-weight: normal;
  font-size: 20px;
}

.card {
  width: 20vw;
  height: auto;
  display: inline-block;
  background-color: white;
  /* border-radius: 24px; */
  border: 1px solid black;
  padding: 1vw;
  margin: 1vw;
  text-align: center;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: lighter;
}

.smallCard{
  width: auto;
  height: auto;
  display: inline-block;
  background-color: white;
  /* border-radius: 24px; */
  border: 1px solid black;
  padding: 1vw;
  margin: 1vw;
  margin-left: 0px;
  text-align: center;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: lighter;
  border-radius: 10px;
}

.smallCard img {
  width: 160px;
  height: 160px;
  /* height: 200px; */
  object-fit: contain;
  display: inline-block;
  border-radius: 10px;
}

.garmentOfTheDayCard {
  vertical-align: bottom;
  width: 360px;
  height: 600px;
  display: inline-block;
  background-color: white;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 18px;
  margin: 20px;
  margin-left: 16px;
  text-align: left;
  overflow: hidden;
  z-index: 100;
  box-sizing: border-box;
  /* width: 360px; */
  /* height: 645px; */
}

.singleGarmentCard {
  vertical-align: bottom;
  width: 360px;
  height: 650px;
  display: inline-block;
  background-color: white;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 18px;
  margin: 20px;
  margin-left: 16px;
  text-align: left;
  overflow: hidden;
  z-index: 100;
  box-sizing: border-box;
  /* width: 360px; */
  /* height: 645px; */
}

.singleGarmentCard h2 {
  font-family: 'TTFirsNeue';
  color: #212121;
  font-size: 32px;
  font-weight: 900;
  width: 220px;
  height: 82px;
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  vertical-align: middle;
}

.card {
  width: 468px;
  height: calc(599px/3);
  border: 0px solid #505050;
  border-bottom: 1px solid #505050;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  box-sizing:border-box;

}

.card h2 {
  font-family: 'TTFirsNeue';
  color: #212121;
  font-size: 20px;
  font-weight: 900;
  max-width: 230px;

  text-align: left;
  vertical-align: top;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 25px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
}


.card img {
  margin-top: 15px;
  margin-left: 15px;
  width: 150px;
  height: 150px;
  /* height: 200px; */
  object-fit: contain;
  display: inline-block;
  border-radius: 20px;
}

#infoLabel {
  text-align: left;
  display: inline-block;
  font-family: 'Inter';
  font-style: italic;
  font-size: 14px;
  color: #878787;
  width: 250px;
  margin: 0;
  margin-bottom: 4px;
}

#info {
  text-align: left;
  display: inline-block;
  font-family: 'TTFirsNeue';
  font-size: 16px;
  font-weight: 900;
  color: #212121;
  width: 200px;
  margin: 0;
  margin-bottom: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card #infoLabel {
  text-align: left;
  display: block;
  font-family: 'Inter';
  font-style: italic;
  font-size: 14px;
  color: #878787;
  width: 200px;
  margin: 0;
  margin-bottom: 4px;
}


.card #info {
  text-align: left;
  display: block;
  font-family: 'TTFirsNeue';
  font-size: 16px;
  color: #212121;
  width: 200px;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 900;
}

.card #infoDiv {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-left: 20px;
}

/* garemnt of the day */
.garmentOfTheDayCard h3 {
  font-family: 'TTFirsNeue';
  color: #212121;
  font-size: 20px;
  font-weight: 900;
  margin-top: 0;
  margin-right: 8px;
  top: 0px;
  display: inline-block;
}

#infoCircle {
  display: inline-block;
  margin-top: -32px;
  transform: translateY(10px);
}

.garmentOfTheDayCard h2 {
  font-family: 'TTFirsNeue';
  color: #212121;
  font-size: 32px;
  font-weight: 900;
  width: 220px;
  height: 82px;
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  vertical-align: middle;

}

#thumbnailDiv {
  margin: -20px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 320px;
  height: 368px;
  align-content: center;
  position: relative;
}

#labelDiv {
  display: inline-block;
  width: 50%;
  margin-bottom: 4px;
}
#labelDiv2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
}




#GOTDthumbnail {
  margin-top: 10px;
  width: 318px;
  height: 318px;
  /* height: 200px; */
  object-fit: contain;
  border-radius: 24px;
}

#titolo {
  font-family: "TT Firs Neue", sans-serif;
  text-align: center;
  font-weight: bolder;
  padding: 1vw;
  margin: 1vw;
  width: 20vw;
  height: 20px;
}

.tag {
  height: 23px;
  border-radius: 37px;
  font-family: 'TTFirsNeue';
  font-weight: lighter;
  display: inline-block;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-right: 10px;
}

p {
  font-family: "TT Firs Neue", sans-serif;
  text-align: center;
  font-weight: bolder;
  padding: 0px;
  margin: 4px;
}

button {
  font-family: "TT Firs Neue", sans-serif;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  margin: 20px;
  height: 200px;
  width: 200px;
  font-size: large;
}

.rounded {
  border-radius: 100px;
  background-color: black;
  color: white;
  font-size: xx-large;
  font-weight: 200;
  width: 185px;
  height: 52px;
  margin: 0px;

}

.off{
  background-color: white;
  color: #C6C6C6;
  pointer-events: none;
}



button:hover {
  background-color: black;
  color: white;
}

#thumbnail {
  width: 100%;
  /* height: 200px; */
  object-fit: contain;
  border-radius: 24px;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.container {
  display: inline-block;
  /* margin: 2vw; */
  /*padding: 0px; */
  /* margin: 0px;
  margin-right: -5px; */
  /* top:0px; */
  /* border: 1px solid black; */
}

.containerInv{
  overflow: scroll;
  width:730px;
  height:640px;
}

#setupOpen {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

#setupClose {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: none;
}


.swiper {
  width: 465px;
  height: 598px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 24px;
}

.swiper-slide {
  border-radius: 10px;
  color: #fff;
}

.white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.meteo {
  width: 596px;
  height: 94px;
  float: left;
  margin: 20px;
  margin-left: 0px;
}

#tab {
  width: 134px;
  height: 108px;
}

#name {
  margin-bottom: 8px;
}

#blackScreen {
  background-color: #1e1e1e;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.calendar {
  padding-left: 18px;
}

.swiperCal {
  width: 730px;
  height: 600px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 24px;
}

.centra-orizzontale {
  position: absolute;
  margin: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.inUseLabel{
  position: absolute; 
  margin-top:80px; 
  margin-left:65px;
  display: none;
}
.inUseLabel2{
  position: absolute; 
  margin-top:200px; 
  margin-left:135px;
  display: none;
}

.meteoLato {
  width: 360px;
  height: 600px;
  display: inline-block;
  justify-content: center;
  vertical-align: bottom;
  margin-bottom: 24px;
  border-radius: 10px;
  background-color: #fff;
}

#black{
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  top:0px;
  left:0px;
  margin:0px;
  position: absolute;
  height:100%;
  width:100%;
  background-color: #1E1E1E;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;

  /* animation: disappearing 0.5s ease-in forwards 2.5s; */
}

#logoAnimation{
  -webkit-box-sizing: border-box;
  
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  top:0px;
  left:0px;
  margin:0px;
  z-index: 2;
  position: absolute;
  height:100%;
  width:100%;
  background-color: white;
  opacity: 0%;
  pointer-events: none;
  /* animation: logoOpacity 1s ease-in forwards 1s, disappearing 0.5s ease-in forwards 4s; */
}

#dot {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  opacity: 0%;
  pointer-events: none;

  /* animation: scaleCircle 1.5s ease-in forwards 0s; */
}

@keyframes scaleCircle {
  from {height: 0px; width: 0px; opacity: 0%;} 
  to {height: 2000px; width: 2000px; opacity: 100%;}
}

@keyframes logoOpacity {
  from {opacity: 0%;} 
  to {opacity: 100%;}
}

@keyframes disappearing {
  from {opacity: 100%;} 
  to {opacity: 0%;}
}

.selezioneStile {
  width: 550px;
  height: 600px;
  display: inline-block;
  justify-content: center;
  vertical-align: bottom;
  margin-bottom: 24px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 16px;
}

.selectBtn {
  border-radius: 100px;
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: 200;
  text-align: left;
  width: 185px;
  height: 52px;
  margin: 8px 16px;
  /* padding-left: 16px; */
  width: 95%;
  /* box-sizing: border-box; */
}

.selectBtn-clicked {
  border-radius: 100px;
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: 200;
  text-align: left;
  width: 185px;
  height: 52px;
  margin: 8px 16px;
  /* padding-left: 16px; */
  width: 95%;
  /* box-sizing: border-box; */
  background-color: black;
  color: white;
}



.disabled {
  border-radius: 100px;
  background-color: white;
  color: #C6C6C6;
  font-size: 24px;
  font-weight: 200;
  text-align: left;
  width: 185px;
  height: 52px;
  margin: 8px 16px;
  /* padding-left: 16px; */
  width: 95%;
  /* box-sizing: border-box; */
 
}

.garmentInfo{
  margin-top: 20px;
  float: left;
  height:720px;
  overflow: scroll;
  overflow-x: hidden;
}

.garmentInfo::-webkit-scrollbar {
  display: none;
}

#wrapperS{
  display: flex;
  width:500px;
  object-fit:none;
  margin-top:20px;
}

.invisibile {
  display: none;
}

.sottoTitoloDiv{
  font-family: 'TTFirsNeue';
  color: #212121;
  font-size: 24px;
  margin-left: 20px;
  padding-top: 44px;
  font-weight: 800;
  
}

.button{
  font-family: 'TTFirsNeue';
  font-size: 20px;
  font-weight: 800;
  color: #212121;
  position: absolute;
  border: 1px solid #212121;
  border-radius: 33px;
  width:150px;
  height:33px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonFull{
  font-family: 'TTFirsNeue';
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: #1E1E1E;
  position: absolute;
  border-radius: 33px;
  width:150px;
  height:35px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#modeBg{
  position: absolute;
  margin-top: -32px;
  margin-left: 886px;
  z-index: -1;
  height: 24px;
  width: 44px;
  border-radius: 12px;
  background-color: #1E1E1E;
}